<nav class="col-md-2 d-none d-md-block bg-dark text-light sidebar">
  <div class="position-sticky pt-4 px-2 text-center">
    <!-- Logo como botón de inicio -->
    <a href="/api/heroes/panelSuperheroes">
      <img src="/img/home.png" alt="Inicio" class="img-fluid mb-4" style="max-width: 80px;">
    </a>

    <!-- Botones -->
    <div class="d-grid gap-2">
      <a class="btn btn-success text-start" href="/api/heroes">Lista de Superhéroes</a>
      <a class="btn btn-success text-start" href="/api/heroes/agregar">Agregar Superhéroe</a>
     <!-- <a class="btn btn-success text-start" href="#">Eliminar Superhéroe</a> -->
      <!-- <a class="btn btn-success text-start" href="/api/heroes/editar">Modificar Superhéroe</a> -->
    </div>
  </div>
</nav>
